* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.btn-input{
    background-color: rgb(128, 128, 255);
    border: 0 solid transparent;
    color: white;
    padding: 10px 20px;
    margin: 10px auto;
    border-radius: 15px;
    cursor: pointer;
}